body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.navbar a:link {
  color: #d5d5d5;
}

.tlike a {
    text-decoration: none;
}

.tlike a:link {
    color: #0000ee;
}

.tlike a:visited {
    color: #0000ee;
}

.tlike a:hover {
    color: #0000ee;
}

.tlike a:active {
    color: #0000ee;
}

.tlike a:focus {
    color: #0000ee;
}
